// Fonts
@import url('https://fonts.googleapis.com/css?family=Niramit');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Responsive progress
@import 'ProgressIndicator';

main {
    min-height: 85vh;
}

#navBar {
    .navbar-nav {
        .nav-item {
            margin: 0px 3px;

            .nav-link {
                color: $white !important;
            }

            &.active, &:hover {
                background-color: $navActive;
                border-radius: 5px;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    #navBar {
        .navbar-nav {
            .nav-item {
                margin: 0px;
                padding: 0px 15px;
            }
        }
    }

    .footer {
        .language {
            margin-left: auto;
        }
    }
}

// Data table

.dataTables_length > label, .dataTables_filter > label {
    display: inline-flex;
    align-items: center;
}

.dataTables_length > label > .custom-select {
    margin: 0px 0.5rem;
}

.dataTables_filter, .dataTables_paginate {
    float: right;
}

.dataTables_filter > label > input {
    margin: 0 0 0 0.5rem;
}

.dataTables_paginate > .pagination {
    margin: auto;
}

.dataTables_info {
    margin: auto 0;
}

@include media-breakpoint-down(sm) {
    .dataTables_filter, .dataTables_paginate {
        float: left;
    }
}

.text-warning-dark {
    color: $warning-dark;
 }

.text-warning-dark:hover {
    color: $warning-dark-hover;
 }

 .table {
     font-size: 10pt;
 }
 .loading {
     position: absolute;
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: rgba(255, 255, 255, 0.2);
     z-index: 10;
 }

 .cart {
     position: fixed;
     bottom: 70px;
     right: 70px;
     height: 80px;
     width: 80px;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .cart-price {
     position: absolute;
     z-index: 10;
     top: -5px;
     left: 50px;
     background-color: #23b900;
     padding: 3px 10px;
     border-radius: 10px;
     color: white;
     min-width: 30px;
     display: flex;
     justify-content: center;
 }

@include media-breakpoint-down(sm) {
    .cart {
        bottom: 50px;
        right: 50px;
        height: 60px;
        width: 60px;
    }

    .cart-price {
        left: 30px;
    }
}

// Overide Step
.SteppedProgress li.cancel.boxed span{
    background: $ProgressCancel;
    color: #FFF;
}
.SteppedProgress li.cancel.boxed span:after {
    border-bottom-color: $ProgressCancel;
}
.SteppedProgress li.cancel.boxed.canHover span:hover{
    background: lighten($ProgressCancel, 38 );
    border-color: $ProgressCancel;
    color: $ProgressCancel;
    cursor: pointer;
}
.SteppedProgress li.cancel.boxed.canHover span:hover:after {
    //	border-bottom-color: lighten($ProgressCancel, 38 );
    border-bottom-color: $ProgressCancel;
    cursor: pointer;
}

/*marking cancel/cancel steps green*/
/*The number of the step and the connector before it = green*/
.SteppedProgress li.cancel:before{
    background: $ProgressCancel;
    color: white;
}
.SteppedProgress li.cancel:after{
    background: transparentize( $ProgressCancel, .4);
}

ul.SteppedProgress.Vertical li.cancel.boxed span:after {
    border-color: rgba(255, 255, 255, 0);	/* Just needs to be some transparent color */
    border-right-color: $ProgressCancel;
}

ul.SteppedProgress li span{
    display: block;
}

@media (max-width: $VerticalBreakPoint) {
    ul.SteppedProgress li.cancel.boxed span:after {
        border-color: rgba(255, 255, 255, 0);	/* Just needs to be some transparent color */
        border-right-color: $ProgressCancel;
    }

    ul.SteppedProgress li span{
        display: inline-block;
    }
}
